@import"https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth
}

body {
    font-family: Poppins,sans-serif;
    width: 97%;
    margin: auto !important;
    background-color: #0F121A;
    animation: bodyFadeIn 1.2s ease-in-out;
    -webkit-tap-highlight-color: rgba(	15, 18, 26,0);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px
}

@keyframes bodyFadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 100%
    }
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #0F121A;
    -webkit-box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px
}

.p-color {
    color: #bfbfbf
}

.h-color {
    color: #fff
}

.btn,.no-decoration {
    text-decoration: none
}

.btn {
    font-family: inherit;
    padding: .6em 1.3em;
    cursor: pointer;
    font-weight: 400;
    margin: .3rem;
    font-size: 18px;
    background-color: rgba(21, 21, 36,.545);
    border: 1px solid hsla(0,0%,100%,.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    transition: all .2s ease-in-out
}

.btn:hover {
    background-color: rgba(32, 35, 44,.545)
}

.navbar {
    background-color: rgba(50, 53, 65,.322);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    display: flex;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    border: 1px solid hsla(0,0%,80%,.129);
    flex-wrap: wrap;
    margin: 15px 10px 0 10px;
    justify-content: space-between;
    width: auto;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-header a {
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

.navbar ul li {
    padding: .6rem;
}

.navbar ul li a {
    font-size: .9rem;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.navbar ul li a:hover {
    color: #e7e7e7;
}

.navbar.small {
    padding: 10px 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar.small li {
    padding: 4px 6px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 30rem;
    flex-direction: column;
    margin: .5rem;
}

.showcase.small {
    margin-top: 110px;
}

.showcase .showcase-header {
    font-weight: 900;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: 4.3rem
}

.showcase h2 {
    font-size: 1rem;
    font-weight: 400
}

.showcase p {
    flex-wrap: wrap;
    font-size: medium;
    font-size: .9rem
}

.showcase .showcase-btn {
    font-size: 1.3rem;
    margin: 2rem
}

@media screen and (max-width: 290px) {
    .showcase {
        flex-direction:row
    }
}

@media screen and (max-width: 416px) {
    .showcase.small {
        margin-top: 153px;
    }
}

.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.about-section h3 {
    color: #eee;
    text-align: center;
    font-weight: 700;
    font-size: 1.9rem
}

.about-section .about-container {
    padding: 2rem;
    flex-wrap: wrap;
    width: auto;
    margin: 2rem;
    background-color: rgba(21, 21, 36,.545);
    border: 1px solid hsla(0,0%,100%,.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px
}

.about-section .about-container .about-card h4 {
    font-weight: 400;
    font-size: 1.2rem;
    padding: .3rem
}

.about-section .about-container .about-card p {
    font-size: .8rem;
    padding: .3rem
}

.about-section .about-container .about-card hr {
    width: 40%;
    margin: .7rem .3rem;
    opacity: 10%
}

.accordion {
    margin: .2rem;
    width: 90%;
    border-radius: 5px
}

.accordion input {
    display: none
}

.box {
    position: relative;
    background-color: rgba(21, 21, 36,.545);
    border: 1px solid hsla(0,0%,100%,.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    height: 64px;
    margin: 6px 0;
    transition: all .15s ease-in-out
}

.box:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}

header.box {
    background-color: rgba(21, 21, 36,.545);
    border: 1px solid hsla(0,0%,100%,.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 100;
    height: 7rem;
    display: flex;
    align-items: center;
    cursor: auto
}

header .box-title {
    margin: 0;
    font-weight: 400;
    font-size: 16pt;
    cursor: auto
}

.box-title {
    width: calc(100% - 40px);
    height: 64px;
    font-size: .9rem;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.box-content {
    width: calc(100% - 40px);
    padding: 30px 20px;
    font-size: 11pt;
    display: none
}

.box-content ul {
    list-style: none;
    margin-left: 1rem
}

.box-content ul li {
    padding: .2rem 0
}

.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none
}

input:checked+.box {
    height: auto
}

input:checked+.box .box-close,input:checked+.box .box-content {
    display: inline-block
}

.arrows section .box-title {
    padding-left: 44px;
    width: calc(100% - 64px)
}

.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: "›";
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out
}

input:checked+section.box .box-title:before {
    transform: rotate(90deg)
}

.about-stats {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center
}

.about-stats .about-stats-card {
    margin: 1rem;
    padding: 1rem
}

.about-stats .about-stats-card h4 {
    font-size: 1.6rem
}

.joinUs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 7rem 0
}

.joinUs .joinUs-header h3 {
    font-size: 1.9rem;
    margin: 1rem;
    font-weight: 700;
    color: #eee
}

.joinUs .joinUs-para {
    margin-bottom: 2rem;
    font-size: .9rem
}

.footer {
    background-color: rgba(21, 21, 36,.545);
    border: 1px solid hsla(0,0%,100%,.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    padding: 1.8rem 2rem;
    border-radius: 3px;
    flex-wrap: wrap;
    margin: 18px;
    justify-content: space-between;
    flex-direction: row;
    width: auto
}

.footer .footer-header a {
    font-size: 1.5rem;
    font-weight: 700
}

.footer ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column
}

.footer ul li {
    padding: .6rem
}

.footer ul li a {
    font-size: .9rem;
    text-decoration: none;
    transition: all .3s ease-in-out
}

.footer ul li a:hover {
    color: #e7e7e7
}

.footer .footer-sec2 hr {
    margin: .7rem 0;
    width: 60%;
    opacity: 20%
}

.footer .footer-sec2 p {
    font-size: .9rem;
    margin: .5rem 0
}

.footer .footer-sec2 .footer-sec2-link {
    display: flex;
    flex-direction: column;
}

.footer .footer-sec2 .footer-sec2-link a {
    font-size: .9rem;
    padding: .6rem
}